.box {
    margin: 0 auto;
    width: 700px;
    position: relative;
    background: url(ms.jpg);
    background-size: cover;
    height: 378px;
}

.box div{
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    margin-left: 5px;
    line-height: 60px;
    text-align: center;
    color: red;
    position: relative;
    top: 330px;
    left: 350px;
}